<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>

<ion-content class="cuerpo">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item lines="none">
      <ion-label position="floating" class="dato">Email</ion-label>
      <ion-input  class="dato" formControlName="email"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
        <div
          *ngIf="
            loginForm.get('email').hasError(validation.type) && 
            (loginForm.get('email').dirty || 
            loginForm.get('email').touched)
          "
          class="error">
            {{validation.message}}
        </div>
      </ng-container>
    </div>
    <br>
    <ion-item lines="none">
      <ion-label position="floating" class="dato">Contraseña</ion-label>
      <ion-input class="dato" formControlName="password"> 
        </ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="
          loginForm.get('password').hasError(validation.type) && 
          (loginForm.get('password').dirty || 
          loginForm.get('password').touched)
          "
          class="error">
            {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-button 
        type="submit" 
        color="success" 
        expand="block" 
        [disabled]="!loginForm.valid"
        >Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </form>
  {{errorMessage}}
  <ion-button 
  color="success" 
  expand="block" 
  (click)="goToRegister()"
  >Registrarse</ion-button>
</ion-content>
