.success-background{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50%;
}
.row-style{
    align-items: center;
    text-align: center;
}
.row-header{
    font-size: 32px;
    font-weight: bold;
}
ion-avatar{
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
}
h1, h2{
    margin-bottom: 0;
    text-align: center;
}

